@import "styles/color.module.scss"; //カラーの読み込み
@import "../components_styles/Scroll.module.scss"; //スクロール指示の読み込み

// 1ページ目************************************************************
.contentsCenterWrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;

  // TopのTextEffectコンポーネント用のスタイル（Topのみ）
  // Web Design System
  .titleCenter {
    position: relative;
    color: $mainGray;
    top: 30%;
    font-size: 6rem;
    font-style: italic;
    text-align: center;
    transition: color 0.2s linear;

    &:hover {
      cursor: cell;
      transition-delay: 0.2s;
      color: $mainOrange;
    }
  }
  .fromhotLib {
    position: relative;
    color: $mainGray;
    top: 30%;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    transition: color 0.15s linear;

    &:hover {
      cursor: cell;
      transition-delay: 0.15s;
      color: $mainOrange;
    }
  }
}

// 2ページ目以降************************************************************
.contentsWrapper {
  position: relative;
  height: 100vh;
  
  // 以降のTextEffectコンポーネント用のスタイル（共通）
  .titleDetail {
    position: relative;
    color: $mainGray;
    top: 15%;
    margin-left:70px;
    font-size: 3rem;
    font-style: italic;
    transition: color 0.2s linear;

    &:hover {
      cursor: cell;
      transition-delay: 0.2s;
      color: $mainOrange;
    }
  }
  // 3ページ目************************************************************
  
  // 4ページ目************************************************************
  
  // 最終ページ目************************************************************



}

